	<div class="feature">
		<div class="container">
        	
            <div class="row">
            
            	<div class="col-md-5">
	                <img src="/assets/images/issue-border.png" style="float:left; margin-right:1px;">
                	<canvas skew image="{{issue_main.image}}" width="300" height="490"></canvas>
                </div>
            	<div class="col-md-7 issue">
                	<div>
                    	<h3>{{issue_main.issue}}</h3>
                        <h2>{{issue_main.title}}</h2>
                        <p>{{issue_main.description}}</p>
                    </div>
                	<a href="{{issue_main.link}}"><div>download</div></a>
                </div>
            
            </div>
            
        </div>
    </div>