	<div class="container archive" ng-show="issues.length">
    
   		<h2>ACCELERATE AMERICA <span>ARCHIVE</span></h2>
    
    	<div class="item" ng:repeat="issue in issues">
        	
            <div class="row">
            
            	<div class="col-md-2 image">
                	<img class="img-responsive" style="width:90%" src="{{issue.image}}"><br />
                </div>
                
            	<div class="col-md-8 text">
                	<div>
                    	<span>{{issue.issue}}</span>
                        <h3 data-ng-bind-html="issue.title"></h3>
                        <p data-ng-bind-html="issue_main.description"></p>
                    </div>
                </div>
                
            	<div class="col-md-2">
                	<a href="{{issue_main.link}}">&nbsp;</a>
                </div>
            
            </div>
            
        </div>

	</div>